<div class="bg-gray">
  <div class="container">
    <div class="row pt-4">
      <div class="col-12 col-md-6">
        <div class="fit-box-logo">
          <img
            class="logo"
            src="../../assets/fitBoxYellow.svg"
            alt="fit box logo"
          />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row d-none d-md-flex text-yellow float-md-right">
          <span class="mx-3">
            <i class="text-yellow fa-3x fa fa-instagram ml-2"></i>
          </span>
          <span class="mx-3">
            <i class="text-yellow fa-3x fa fa-facebook-square ml-2"></i>
          </span>
          <span class="mx-3">
            <i class="text-yellow fa-3x fa fa-linkedin-square ml-2"></i>
          </span>
          <span class="mx-3">
            <i class="text-yellow fa-3x fa fa-facebook-square ml-2"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4">
        <p class="font-weight-bold text-light">Email Subscribe</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <div class="input-group pr-4">
            <input
              type="text"
              formControlName="name"
              class="bg-place-holder text-light shadow-none input-border h-auto form-control"
              placeholder="Enter your email address to subscribe"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 mb-5">
        <button class="btn bg-transparent fit-menu-btn px-4">Subscribe</button>
      </div>
    </div>
    <div class="row font-weight-bold px-3 px-md-0 pb-4">
      <div class="col-12 col-md-4 mobile-border py-4 py-md-0">
        <span class="text-light mr-3">Contact No : IVR</span>
        <span class="text-yellow">+91 9900######</span>
      </div>
      <div class="col-12 col-md-4 mobile-border py-4 py-md-0">
        <span class="text-light mr-1"> Location with</span>
        <span class="text-yellow"> Google Maps</span>
      </div>
      <div class="col-12 col-md-4 mobile-border py-4 py-md-0">
        <span class="text-light mr-2">Email ID : </span
        ><span class="text-yellow">contactfitbox@fitboxindia.com</span>
      </div>
    </div>
    <div class="text-center row text-yellow d-block d-md-none pb-4">
      <span class="mx-3">
        <i class="text-yellow fa-3x fa fa-instagram ml-2"></i>
      </span>
      <span class="mx-3">
        <i class="text-yellow fa-3x fa fa-facebook-square ml-2"></i>
      </span>
      <span class="mx-3">
        <i class="text-yellow fa-3x fa fa-linkedin-square ml-2"></i>
      </span>
      <span class="mx-3">
        <i class="text-yellow fa-3x fa fa-facebook-square ml-2"></i>
      </span>
    </div>
  </div>
</div>
