<div class="page-background bg-black">
  <div class="top-0 w-100 bottom-0 position-absolute">
    <div class="row mx-0">
      <div class="col-6 px-0">
        <div class="vertical-line"></div>
      </div>
      <div class="col-6"></div>
    </div>
    <div class="row mx-0">
      <div class="col-12 text-center">
        <span (click)="scrollToPage('reasontwo')" class="text-light f-12"
          >Previous</span
        >
      </div>
    </div>
  </div>
  <div class="container mb-4">
    <div class="row pt-2 pt-md-5">
      <div class="col-12 col-md-9 mb-md-5">
        <div class="row fitflow">
          <div class="col-4">
            <div
              *ngIf="isAnimationActive"
              [ngClass]="isAnimationActive ? 'bottom-to-top' : ''"
              class="number-fit mr-4 pr-1 lh-64 text-right text-stroke font-weight-bold"
            >
              {{ fitCardData.number }}
            </div>
          </div>
          <div class="col-8 ml-n-28">
            <h1
              *ngIf="isAnimationActive"
              [ngClass]="isAnimationActive ? 'bottom-to-top' : ''"
              class="d-inline-block mb-0 mt-3 head-fit font-weight-bold light-yellow"
            >
              <span class="text-stroke mr-2">{{ fitCardData.strokeHead }}</span>
              <span class="text-light">{{ fitCardData.mainHead }}</span>
            </h1>
          </div>
        </div>
        <div
          *ngIf="isLineActive"
          [ngClass]="isLineActive ? 'left-to-right' : ''"
          class="img-top-line"
        ></div>
        <div class="row">
          <div class="col-4">
            <div
              *ngIf="isLineActive"
              [ngClass]="isLineActive ? 'bottom-to-top-max' : ''"
              class="img-left-line"
            ></div>
          </div>
          <div class="col-6 col-md-6">
            <img
              *ngIf="isAnimationActive"
              [ngClass]="isAnimationActive ? 'fade-in' : ''"
              class="img-fluid fit-image pt-4 pr-3"
              src="{{ fitCardData.image }}"
              alt=""
            />
          </div>
          <div class="col-2 col-md-2">
            <div
              *ngIf="isLineActive"
              [ngClass]="isLineActive ? 'bottom-to-top-max' : ''"
              class="img-right-line"
            ></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div
          *ngIf="isLineActive"
          [ngClass]="isLineActive ? 'right-to-left text-light' : ''"
          class="text-left content-align text-black px-3"
        >
          <div *ngFor="let fit of fitCardData.fitList" class="row">
            <div class="col-2 text-right">
              <img src="../assets/dumbell.svg" alt="Dumbell" />
            </div>
            <div class="col-10">
              <p>{{ fit.data }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-0 w-100 bottom-0 position-absolute">
    <div class="row mx-0">
      <div class="col-12 text-center">
        <span (click)="scrollToPage('reasonthree')" class="text-light f-12"
          >Next</span
        >
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-6 px-0">
        <div class="vertical-line"></div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>
