<div class="spacer"></div>
<div id="banner" class="one">
  <app-banner (scrollPage)="scrollToPage($event)"></app-banner>
</div>
<div class="spacer"></div>
<div id="whyfitbox" class="two">
  <app-why-fit-box (scrollPage)="scrollToPage($event)"></app-why-fit-box>
</div>
<div class="spacer"></div>
<div id="reasonstojoin" class="three">
  <app-reasons-to-join-fit-box
    (scrollPage)="scrollToPage($event)"
  ></app-reasons-to-join-fit-box>
</div>
<div class="spacer"></div>
<div id="reasonone" class="four">
  <app-fit-freedom (scrollPage)="scrollToPage($event)"></app-fit-freedom>
</div>
<div class="spacer"></div>
<div id="reasontwo" class="five">
  <app-fit-flow (scrollPage)="scrollToPage($event)"></app-fit-flow>
</div>
<div class="spacer"></div>
<div id="reasonthree" class="six">
  <app-fit-smile (scrollPage)="scrollToPage($event)"></app-fit-smile>
</div>
<div class="spacer"></div>
<div id="reasonfour" class="seven">
  <app-fit-touch (scrollPage)="scrollToPage($event)"></app-fit-touch>
</div>
<div style="clear: both"></div>
