<div class="spacer"></div>
<div id="banner" class="one">
  <app-banner (scrollPage)="scrollToPage($event)"></app-banner>
</div>
<div class="spacer"></div>
<div id="whyfitbox" class="two">
  <app-why-fit-box (scrollPage)="scrollToPage($event)"></app-why-fit-box>
</div>
<div class="spacer"></div>
<div id="reasonstojoin" class="three">
  <app-four-reasons-to-join
    (scrollPage)="scrollToPage($event)"
  ></app-four-reasons-to-join>
</div>
<div class="spacer"></div>
<div id="reasonone" class="four">
  <div class="d-block d-md-none">
    <app-fit-freedom-mobile
      (scrollPage)="scrollToPage($event)"
    ></app-fit-freedom-mobile>
  </div>
  <div class="d-none d-md-block">
    <app-fit-freedom (scrollPage)="scrollToPage($event)"></app-fit-freedom>
  </div>
</div>
<div class="spacer"></div>
<div id="reasontwo" class="five">
  <div class="d-block d-md-none">
    <app-fit-flow-mobile
      (scrollPage)="scrollToPage($event)"
    ></app-fit-flow-mobile>
  </div>
  <div class="d-none d-md-block">
    <app-fit-flow (scrollPage)="scrollToPage($event)"></app-fit-flow>
  </div>
</div>
<div class="spacer"></div>
<div id="reasonthree" class="six">
  <div class="d-block d-md-none">
    <app-fit-smile-mobile
      (scrollPage)="scrollToPage($event)"
    ></app-fit-smile-mobile>
  </div>
  <div class="d-none d-md-block">
    <app-fit-smile (scrollPage)="scrollToPage($event)"></app-fit-smile>
  </div>
</div>
<div class="spacer"></div>
<div id="reasonfour" class="seven">
  <div class="d-block d-md-none">
    <app-fit-touch-mobile
      (scrollPage)="scrollToPage($event)"
    ></app-fit-touch-mobile>
  </div>
  <div class="d-none d-md-block">
    <app-fit-touch (scrollPage)="scrollToPage($event)"></app-fit-touch>
  </div>
</div>
<div class="spacer"></div>
<div id="fitboxlogo" class="eight">
  <app-fit-features-carousel></app-fit-features-carousel>
</div>
<div class="spacer"></div>
<div class="nine">
  <div><app-fit-box-solving-problems></app-fit-box-solving-problems></div>
  <div><app-fit-box-covid-ready></app-fit-box-covid-ready></div>
  <div><app-fit-menu></app-fit-menu></div>
  <!-- <div><app-testimonials></app-testimonials></div> -->
  <div><app-fit-box-play-store></app-fit-box-play-store></div>
  <!-- <div><app-gallery></app-gallery></div> -->
  <!-- <div><app-faqs></app-faqs></div> -->
  <div><app-contact></app-contact></div>
</div>
<div style="clear: both"></div>
