.container {
  background: black;
  position: relative;
}
.spacer {
  width: 0;
  height: 100vh;
  float: left;
  clear: both;
}
.one {
  width: 100%;
  height: 100vh;
  position: fixed;
  float: left;
}
.two {
  width: 100%;
  height: 100vh;
  position: relative;
  float: left;
}
.three {
  width: 100%;
  position: relative;
  float: left;
}
.four {
  width: 100%;
  height: 100vh;
  position: relative;
  float: left;
}
.five {
  width: 100%;
  height: 100vh;
  position: relative;
  float: left;
}
.six {
  width: 100%;
  height: 100vh;
  position: relative;
  float: left;
}
.seven {
  width: 100%;
  height: 100vh;
  position: relative;
  float: left;
}
.latched {
  position: fixed;
  top: 0;
  width: 100%;
}
