<div class="bg-black page-background-normal">
  <div class="container pt-3">
    <div class="container">
      <div
        class="text-center row py-3 px-0 mb-3 px-md-4 heading-border testimonials"
      >
        <div class="col-12">
          <h2 class="d-inline-block mt-2 orbitron font-weight-bold text-black">
            <span class="orbitron">
              <span
                [ngClass]="isAnimationActive ? 'bottom-to-top text-yellow' : ''"
                class="text-black"
              >
                Testimonials</span
              >
            </span>
            <div
              *ngIf="isLineActive"
              [ngClass]="isLineActive ? 'left-to-right' : ''"
              class="bottom-line"
            ></div>
          </h2>
        </div>
      </div>
    </div>
    <div class="row px-lg-5 mt-4">
      <div class="col-12 mb-5">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators ml-4 ml-md-5 justify-content-left">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="icn active"
            ></li>
            <li
              data-target="#carouselExampleIndicators"
              class="icn"
              data-slide-to="1"
            ></li>
            <li
              data-target="#carouselExampleIndicators"
              class="icn"
              data-slide-to="2"
            ></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="d-block w-100"
                src="../../assets/carousel/BannerImage1.png"
                alt="First slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="../../assets/carousel/BannerImage2.png"
                alt="Second slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="../../assets/carousel/BannerImage3.png"
                alt="Third slide"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
