<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 testimonials">
        <h1
          *ngIf="isAnimationActive"
          [ngClass]="isAnimationActive ? 'bottom-to-top' : ''"
          class="mb-4 mt-5 d-inline-block font-weight-bold text-light"
        >
          <span>Fit Founder</span>
          <div
            *ngIf="isLineActive"
            [ngClass]="isLineActive ? 'left-to-right' : ''"
            class="bottom-line"
          ></div>
        </h1>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 mt-5 pt-5">
            <h3 class="font-weight-bold text-yellow">Story :</h3>
          </div>
          <div class="col-12">
            <h5 class="font-weight-bold text-light">
              My goal is to make these numbers
              <span class="text-yellow"> more </span> efficient.
            </h5>
          </div>
          <div class="col-2 text-right">
            <img src="../assets/dumbell.svg" alt="Dumbell" />
          </div>
          <div class="col-10 font-weight-bold text-light">
            <p>
              90% of Gyms make
              <span class="text-yellow"> hand to mouth </span>cash flow every
              month
            </p>
          </div>
          <div class="col-2 text-right">
            <img src="../assets/dumbell.svg" alt="Dumbell" />
          </div>
          <div class="col-10 font-weight-bold text-light">
            <p>70% client <span class="text-yellow">churn </span> Annually</p>
          </div>
          <div class="col-2 text-right">
            <img src="../assets/dumbell.svg" alt="Dumbell" />
          </div>
          <div class="col-10 font-weight-bold text-light">
            <p>
              60% staff <span class="text-yellow">attrition </span> Annually
            </p>
          </div>
          <div class="col-2 text-right">
            <img src="../assets/dumbell.svg" alt="Dumbell" />
          </div>
          <div class="col-10 font-weight-bold text-light">
            <p>
              50% business Closure by
              <span class="text-yellow"> 2nd </span> year of operations
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-4">
            <h3 class="font-weight-bold text-yellow">Purpose Statement :</h3>
          </div>
          <div class="col-12">
            <p class="font-weight-bold text-light">
              <span class="text-yellow">Fixing</span> the fitness Industry by
              making it <span class="text-yellow">convenient</span> while
              helping people <span class="text-yellow">realize</span> Fitness is
              <span class="text-yellow">more</span> than just physical.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
