<div class="bg-black page-background-normal">
  <div class="container">
    <div class="row py-4">
      <div class="col-6 col-md-3 col-lg-3">
        <img src="../../assets/playStoreImage.svg" alt="" />
      </div>
      <div class="col-6 col-md-9 col-lg-9 mt-3">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-10">
            <div class="orbitron row fit-head font-weight-bold">
              <div class="col-12 col-md-6 mb-3 mb-md-0">
                <h4 class="text-light">Download</h4>
                <h2 class="btm-border-1px d-inline">FitBox App</h2>
              </div>
              <div *ngIf="false" class="col-12 col-md-7">
                <div class="row">
                  <div class="col-12">
                    <h6 class="mb-0">Features</h6>
                  </div>
                </div>
                <div class="row text-light">
                  <div class="col-12 col-md-4">
                    <h4 class="btm-border-1px d-inline">
                      <span class="text-yellow">Fit</span>Pay
                    </h4>
                  </div>
                  <div class="col-12 col-md-4">
                    <h4 class="btm-border-1px d-inline">
                      <span class="text-yellow">Fit</span>Cash
                    </h4>
                  </div>
                  <div class="col-12 col-md-4">
                    <h4 class="btm-border-1px d-inline">
                      <span class="text-yellow">Fit</span>Family
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row fit-head font-weight-bold mt-4">
              <div class="col-12 col-md-3 mb-3">
                <a href="#" target="_blank">
                  <button class="btn px-3 f-12 text-light">
                    <i class="fab fa-google-play mr-2"></i><b>Google Play</b>
                  </button>
                </a>
              </div>
              <div class="col-12 col-md-7 mb-3">
                <a href="#" target="_blank">
                  <button class="btn px-3 f-12 text-light">
                    <i class="fa fa-apple mr-2"></i><b>App Store</b>
                  </button>
                </a>
              </div>
            </div>
            <div class="orbitron row d-none d-md-block">
              <div class="col-12">
                <p class="font-weight-bold text-yellow pr-4">
                  Get the link to download the app
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none orbitron d-md-block">
          <div class="row">
            <div class="col-12 col-md-8">
              <div class="form-group">
                <div class="input-group pr-4">
                  <div class="input-group-prepend">
                    <span
                      class="bg-place-holder input-border text-light input-group-text"
                      id="inputGroup-sizing-default"
                      >+91</span
                    >
                  </div>
                  <input
                    type="text"
                    formControlName="name"
                    class="bg-place-holder text-light shadow-none input-border h-auto form-control"
                    placeholder="Enter your Whatsapp number"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-md-2 mb-5">
              <button class="btn bg-transparent fit-menu-btn">Send SMS</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-md-none px-3">
      <div class="col-12">
        <p class="font-weight-bold text-yellow pr-4">
          Get the link to download the app
        </p>
      </div>
    </div>
    <div class="row d-md-none px-3">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span
                class="bg-place-holder input-border text-light input-group-text"
                id="inputGroup-sizing-default"
                >+91</span
              >
            </div>
            <input
              type="text"
              formControlName="name"
              class="bg-place-holder text-light shadow-none input-border h-auto form-control"
              placeholder="Enter your Whatsapp number"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 mb-4">
        <button class="btn bg-transparent fit-menu-btn">Send SMS</button>
      </div>
    </div>
  </div>
</div>
